---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-longhorn
  namespace: longhorn-system 
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`192.168.2.30`)
      services:
        - kind: Service
          name: longhorn-frontend
          port: 80
