- name: Home 
  width: default 
  center-vertically: true
  columns:
    - size: small
      widgets:
        - type: clock
          hour-format: 24h
          timezones:
            - timezone: Asia/Shanghai
              label: Beijing
            - timezone: Europe/Moscow
              label: Moscow
            - timezone: Asia/Tehran
              label: Tehran
        - type: weather
          units: imperial 
          hour-format: 24h
          location: Tehachapi, United States
        
    - size: full
      widgets:
        - type: split-column
          max-columns: 2 
          widgets: 
            - <<: *linkding
              title: Daily
              url: https://link.tstarr.us/api/bookmarks?bundle=3

        - type: monitor
          cache: 10m
          title: Services
          sites:
            - title: Home Assistant
              url: https://home.tstarr.us
              icon: sh:home-assistant
            - title: Gitea
              url: https://git.tstarr.us
              icon: sh:gitea
            - title: Linkding
              url: https://link.tstarr.us
              icon: sh:linkding
            - title: Nextcloud
              url: https://cloud.tstarr.us
              icon: sh:nextcloud
            - title: Jellyfin
              url: https://media.tstarr.us
              icon: sh:jellyfin
            - title: 2FAuth
              url: https://2fa.tstarr.us
              icon: sh:2fauth
            - title: LC Mattermost
              url: https://lc.tstarr.us
              icon: sh:mattermost
            - title: Remmina  
              url: https://rdp.tstarr.us
              icon: sh:remmina
            - title: RSSBridge 
              url: http://rss-bridge.vortex-1.lan
              icon: sh:rss-bridge
            - title: Miniflux 
              url: http://rss.tstarr.us
              icon: sh:miniflux

    - size: small
      widgets:
        - $include: sports.yml
