- name: Lab 
  width: default 
  hide-desktop-navigation: true
  center-vertically: true
  columns:
    - size: full
      widgets:
        - type: bookmarks
          groups:
            - title: General
              links:
                - title: Google
                  url: https://google.com
                - title: Gmail
                  url: https://mail.google.com/mail/u/0/
                - title: Amazon
                  url: https://www.amazon.com/
                - title: Github
                  url: https://github.com/
            - title: Entertainment
              links:
                - title: YouTube
                  url: https://www.youtube.com/feed/subscriptions
                - title: MLB.TV
                  url: https://www.mlb.com/live-stream-games
                - title: DIRECTV
                  url: https://stream.directv.com/watchnow
                - title: Miniflux 
                  url:  https://rss.tstarr.us
            - title: Social
              links:
                - title: LC Mattermost
                  url: https://lc.tstarr.us/
                - title: Instagram - Messages
                  url:  https://www.instagram.com/direct/inbox/
            - title: Homelab 
              links:
                - title: Cloudflare Dashboard
                  url: https://dash.cloudflare.com/
        - type: monitor
          cache: 10m
          title: Services
          sites:
            - title: Adguard 
              url: http://tetragon.lan:3003
              check-url: https://glance.tstarr.us
              allow-insecure: true
              icon: sh:adguard-home
            - title: Grafana 
              url: http://tetragon.lan:2342
              check-url: https://glance.tstarr.us
              allow-insecure: true
              icon: sh:grafana
            - title: Databasus 
              url: http://torus.lan:4005
              check-url: https://glance.tstarr.us
              allow-insecure: true
              icon: sh:databasus
            - title: Home Assistant
              url: https://home.tstarr.us
              icon: sh:home-assistant
            - title: Gitea
              url: https://git.tstarr.us
              icon: sh:gitea
            - title: Linkding
              url: https://link.tstarr.us
              icon: sh:linkding
            - title: Code Server
              url: https://code.tstarr.us
              icon: sh:visual-studio-code
              alt-status-codes:
                - 403
            - title: Nextcloud
              url: https://cloud.tstarr.us
              icon: sh:nextcloud
            - title: Jellyfin
              url: https://media.tstarr.us
              icon: sh:jellyfin
            - title: 2FAuth
              url: https://2fa.tstarr.us
              icon: sh:2fauth
            - title: LC Mattermost
              url: https://lc.tstarr.us
              icon: sh:mattermost
            - title: Remmina  
              url: https://rdp.tstarr.us
              icon: sh:remmina
            - title: RSSBridge 
              url: http://rss-bridge.vortex-1.lan
              icon: sh:rss-bridge
            - title: Miniflux 
              url: http://rss.tstarr.us
              icon: sh:miniflux
