- name: Lab 
  width: default 
  center-vertically: true
  columns:
    - size: small
      widgets:
        - type: clock
          hour-format: 24h
          timezones:
            - timezone: Asia/Shanghai
              label: Beijing
            - timezone: Europe/Moscow
              label: Moscow
            - timezone: Asia/Tehran
              label: Tehran
        - type: weather
          units: imperial 
          hour-format: 24h
          location: Tehachapi, United States
        
    - size: full
      widgets:
        - type: bookmarks
          groups:
            - title: Homelab 
              links:
                - title: Cloudflare Dashboard
                  url: https://dash.cloudflare.com/
        - type: monitor
          cache: 10m
          title: Services
          sites:
            - title: Adguard 
              url: http://tetragon.lan:3003
              check-url: https://glance.tstarr.us
              allow-insecure: true
              icon: sh:adguard-home
            - title: Grafana 
              url: http://tetragon.lan:2342
              check-url: https://glance.tstarr.us
              allow-insecure: true
              icon: sh:grafana
            - title: Databasus 
              url: http://torus.lan:4005
              check-url: https://glance.tstarr.us
              allow-insecure: true
              icon: sh:databasus
            - title: Code Server
              url: https://code.tstarr.us
              icon: sh:visual-studio-code
              alt-status-codes:
                - 403
        - type: custom-api
          title: Linkding Bookmarks
          url: https://link.tstarr.us/api/bookmarks?bundle=1
          headers:
            Authorization: "Token b06564fb079865a567c31830cb81eb3028d47826"
          cache: 30m
          template: |
            <ul class="space-y-2">
            {{ range .JSON.Array "results" }}
              <li>
                <a href="{{ .String "url" }}" target="_blank" class="hover:underline">
                  {{ .String "title" }}
                </a>
              </li>
            {{ end }}
            </ul>

    - size: small
      widgets:

