---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflare-ddns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflare-ddns
  template:
    metadata:
      labels:
        app: cloudflare-ddns
    spec:
      containers:
        - image: favonia/cloudflare-ddns:latest
          name: cloudflare-ddns
          env:
            - name: IP6_PROVIDER
              value: "none"
            - name: DOMAINS 
              value: "ip.tstarr.us"
            - name: CLOUDFLARE_API_TOKEN 
              valueFrom:
                secretKeyRef:
                  name: sops-apps-dev
                  key: CLOUDFLARE-DDNS_TOKEN
      restartPolicy: Always
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 25%
        maxSurge: 25%
